*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}

.container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:9em;
}

.black{
    color: #fff;
    background-color:#000;
}

.white{
    color: #000;
    background-color:#fff;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}   

