*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color:#eee;
}

ul{
    /* display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
}
li{
    height: 250px;
    min-width: calc(100vw/3);
}

a{
    display:inline-block;
    height:100%;
    font-size: 2em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding-top: 90px;
    transition: all 150ms ease-in;
}

a:hover{
    background-color: #777;
    font-size: 3em;
    color: #fff;
}

@media only screen and (max-device-width: 480px) {
    ul{
        /* display: flex;
        align-items: center;
        list-style: none;
        flex-direction: column;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: 1fr;
        list-style: none;
    }
    
}