*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Roboto, Arial, Helvetica, sans-serif;
}


html{
    font-size: 62.5%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100vh;
    background-color:#9b9b9b;
    padding: 65px 180px;
    background-image: linear-gradient(45deg, rgb(25, 28, 32), rgb(65, 65, 65));
    overflow: hidden;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: calc(100vh - 110px);
    background-color:rgb(38,38,38);
    border-radius: 15px;
    overflow: hidden;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(39,42,52);
    padding: 10%;
    width: 100%;
    color: #fff;
    min-width: 300px;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid rgb(99, 102, 110);
    color: #fff;
    font-size: 1.5rem;
}

.title{
    grid-column: -1/1;
    margin: 15px 0;
    font-size: 3em;
}

#lname{
    margin-left: 10px;
    width: calc(100% - 10px);
}

#mail{
    grid-column: -1/1;
}

#sub{
    grid-column: -1/1;
}

textarea{
    grid-column: -1/1;
    margin: 5px 0;
    padding: 10px;
    background-color: inherit;
    border: 1px solid rgb(99, 102, 110);
    color: #fff;
    font-size: 1.1rem;
}

.btn{
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 999px;
    font-size: 1.5em;
    width: 50%;
    min-width: 70px;
}

.contacts{
    display: inline-block;
    width: 100%;
    padding: 80px;
}

.contacts>h2{
    color: #fff;
    font-size: 3rem;
}

.contacts>p{
    color: rgb(214, 214, 214);    
    font-size: 2.1em;
    margin: 15px 0px;
}


h3{
    color: #fff;
    /* padding: 3px 5px; */
    display: inline-block;
    font-size: .8em;
}

.info{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 60%;
}

.row{
    display: flex;
    width: 400px;
    height: 60px;
    /* background-color:#994444; */
    margin: 10px 0px;
    position: relative;
}

.fas{
    color: #fff;
    padding: 18px;
    font-size: 2rem;
}

.con{
    color: rgb(214, 214, 214);  
    font-size: 1.4rem;
    display: inline-block;
    margin-top: -5px;
    /* width: 70%; */
}

.cap{
    font-size: 1.8rem;
    margin: 6px 0;
}

.ccon{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 768px) {
    input,textarea{
        font-size: 1.2rem;
    }
    .fas{
        font-size: 1.9rem;
    }

    .cap{
        font-size: 1.5rem;
    }

    .con{
        font-size: 1.2rem;  
    }

    .navbar .logo{
        font-size: 2rem;
    }


    .contacts>h2{
        color: #fff;
        font-size: 2.5rem;
    }
    
    .contacts>p{
        color: rgb(214, 214, 214);    
        font-size: 1.8em;
        margin: 15px 0px;
    }

    .fa-bars{
        display: inline-block;
        color:#000;
        font-size: 2rem;
        padding:0px 2px;
        border-radius: 5px;
        width: 20px;
        height: 20px;
    }

    .menu{
        display: inline-block;
        background-color: #fff;
        color: #000;
        z-index: 10;
        margin:0;
    }

    .content{
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
        width: 100%;
        display: flex;
        flex-direction: column;
        /* height: calc(100vh - 110px); */
        background-color:rgb(38,38,38);
        border-radius: 15px;
        overflow-y: scroll;
        /* overflow: hidden; */
    }


    .row{
        width: 300px;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        background-color:#9b9b9b;
        padding: 0px 20px;
        background-image: linear-gradient(45deg, rgb(25, 28, 32), rgb(65, 65, 65))
    }
    textarea{
        grid-column: -1/1;
        margin: 5px 0;
        padding: 10px;
        background-color: inherit;
        border: 1px solid rgb(99, 102, 110);
        color: #fff;
        font-size: 1.1rem;
        height: 100px;
    }
    .title{
        font-size: 1.8rem;
    }
    .btn{
        font-size: 1.2em;
    }
    .contacts{
        padding: 80px 10px;
        flex: 1;
        min-height: 90vh;
    }

    .form{
        min-height: 90vh;
    }
}
