*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding-inline: 10rem;
    flex-wrap: wrap;
}

.text{
    flex: 1;
    max-width: 30vw;
    padding: 100px 0px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height:100%;
    color: #fff;
    width: 100%;
}

.content .title{
    font-size: 2.8rem;
    
}

.content .desc{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: rgb(206, 206, 206);
}

.store-link{
    text-decoration: none;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 5px 8px;
    background-color: #fff;
    border-radius: 5px;
}

.video-section{
    display: grid;
    place-items: center;
    padding: 100px 0em;

}

.titleC{
    display: flex;
    width: 100%;
}

.title1,.title2{
    display: inline-block;
    width: auto;
    font-size: 2.8rem;
    font-weight: 700;
}

.title1{
    color: #f52f2f;
}

.title2{
    color: #394dfd;
}



@media only screen and (max-width: 768px) {
    .hero-section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        padding: 0px 0px;
        flex-wrap: wrap;
    }

    .text{
        flex: 1;
        max-width: 80vw;
        height: 100vh;
        padding: 100px 0px;
    }

    .content .title{
        font-size: 2rem;
    }

    .video-section{
        width: 90vw;
        height: 100vh;
    }

    .video{
        max-width:90vw;
        /* display: none; */
        margin: 0 auto;
    }

    .navbar{
        font-size:.4rem !important;
    }

}
