*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Store_Pages/Images/772411.jpg");
    background-position: center;
    background-size: 75%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
}

.head input{
    border-radius: 999px;
    padding: 0 30px;
    width: 25rem;
    height: 100%;
    /* min-width: 20vw; */
    background-color:rgb(38,38,38);
    border:0px;
    border: 1px solid #fff;
    color: #fff;
}

.rightmenu{
    text-align: center;
}

.rightmenu .fas{
    color: rgb(0, 0, 0);
    margin:0 30px;
    background: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 100%;
}


/* background-color: rgba(65,65,65,.8);
display: flex; */
.container {
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(-12deg, rgba(255,255,255,0.1),transparent);
    flex-direction: column;
    width: 85vw;
    min-height: 100vh;
    padding: 20px 75px;
    margin: 75px auto;
    margin-bottom: 0px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    border-left: 2px solid rgba(207, 207, 207, 0.507);
    border-top: 2px solid rgb(163, 163, 163);
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px;
    display: flex;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    background-color: rgba(31, 31, 31, 0.425);
    backdrop-filter: blur(5px);
}

.container .p_title{
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: 2.5em;
    position: relative;
}

.container .row4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-block: 25px;
}


.slides{
    overflow: hidden;
    color: #fff;
    width: calc(100% - 20px);
    aspect-ratio: 2.1;
    margin-inline: auto;
    /* max-height: 70vh; */
}

.container .row4 .card{
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: #006eff;
    margin: 10px;
}

.container .row4 .card.hidden{
    display: none;
    width: 150px;
    height: 200px;
    background-color: #006eff;
    margin: 10px;
}

.container .row4 .card.hidden.show{
    display: inline-block;
}

.more{
    position: absolute;
    bottom: -20px;
    right: 15px;
    cursor: pointer;
    color: #fff;
}

.container .row2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .row2 .card{
    display: inline-block;
    min-width: 300px;
    width: 45%;
    aspect-ratio: 1.7;
    margin: 10px;
    background-color: #006eff;
}

.card{
    position: relative;
    border-radius: 10px;
}

/* .card::before{
    content: "Items";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
} */

.p_title::before{
    content: "";
    display: inline-block;
    width: 120%;
    height:110%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
    left: -10%;
    top: -5%;
    transform: skewX(-20deg);
}

.p_title::after{
    content: "";
    display: inline-block;
    width: 120%;
    height:110%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
    left: -10%;
    top: -5%;
    transform: skewX(20deg);
}

@media only screen and (max-width: 930px) {
    .rightmenu .fas{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        width: 90vw;
        min-height: 100vh;
        padding: 20px 25px;
        margin: 75px auto;
        margin-bottom: 0px;
    }

    .slides{
        height: 200px;
    }

    .container .p_title{
        margin-right: 40px;
        font-size: 2em;
    }

    .container  .row2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .row4 .card{
        display: inline-block;
        width: 150px;
        height: 200px;
        background-color: #006eff;
        margin: 10px 5px;
    }

    .container .row4 .card.hidden{
        margin: 10px 5px;
    }


    .container .row4{
        justify-content: center;
        align-items: center;
        margin-block: 0;
    }
    .rightmenu .fas{
        display: none;
    }
    .head input{
        width: 175px;
    }

}

@media only screen and (max-width: 432px) {
    .container{
        padding: 20px 8px;
    }

    .container .row2{
        margin-top: 30px;
    }
}