*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color:#3586ff;
    position: relative;
    overflow: hidden;
}

.container{
    display: grid;
    place-items: center;
    
    padding: 10px;
    padding-top: 10vh;
}

.container .box{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 80vh;
    /* outline: 1px solid #ff0000; */
}

.title{
    color:#fff;
    text-align: center;
    padding: 25px 0;
    font-size: 4rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    justify-self: flex-end;
    z-index: 1100;
}

.cards .card{
    display: inline-block;
    width: 250px;
    height: 300px;
    background-color: #ffffff;
    margin: 20px;
    position: relative;
    border-radius: 10px;
    z-index: 2;
    transform: translateY(200px);
}



.ico1{
    background-image: url("../img/graphic-designer.png");
}

.ico2{
    background-image: url("../img/programmer.png");
}

.ico3{
    background-image: url("../img/programmer (1).png");
}

.ico{
    display: inline-block;
    width: 100%;
    height: 100%;    
    background-size: 70%;
    background-position: center 50px;
    background-repeat: no-repeat;
}

.card-body{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
    /* outline: 1px solid #ff0000; */
    position: absolute;
    left: 50%;
    bottom: -15%;
    background-color: #fff;
    transform-origin: top;
    transform: scaleY(0) translateX(-50%);
    transition: transform 300ms ease-in-out;
    border-radius: 10px;
    box-shadow: 3px 8px 9px 3px rgba(0, 0, 0, 0.5);
}

.card-body h2{
    font-size: 2rem;
}

.card-body p{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.socials{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 5px 30px;
}

.icon1{
    background-image: url("../img/2553040_facebook_fb_feed_logo_media_icon.png");
    display: inline-block;
    width: 32px;
    height: 32px;
}

.icon2{
    background-image: url("../img/2609558_instagram_social media_social_icon.png");
    display: inline-block;
    width: 32px;
    height: 32px;
}

.icon3{
    background-image: url("../img/5296516_tweet_twitter_twitter logo_icon.png");
    display: inline-block;
    width: 32px;
    height: 32px;
}

.card:hover .card-body{
    transform: scaleY(1) translateX(-50%) ;
}

body .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url("../wave.png");
    background-size: 1000px 150px;
}

.wave1{
    animation: waves 30s linear infinite;
    animation-delay:0s;
    bottom:0;
    z-index: 1000;
    opacity: 1;
}

.wave2{
    animation: waves2 15s linear infinite;
    animation-delay:-5s;
    bottom:10px;
    z-index: 999;
    opacity: .5;
}

.wave3{
    animation: waves 30s linear infinite;
    animation-delay:-2s;
    bottom:15px;
    z-index: 998;
    opacity: .2;
}

.wave4{
    animation: waves2 15s linear infinite;
    animation-delay:-5s;
    bottom:20px;
    z-index: 997;
    opacity: .7;
}

@keyframes waves {
    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 1000px;
    }
}

@keyframes waves2 {
    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: -1000px;
    }
}


.navbar{
    z-index: 1200;
}


@media only screen and (max-width: 930px) {

    body{
        overflow:scroll;
    }

    .wave{
        display: none;
    }
}
